.window-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.blob-container {
  display: flex;
  position: absolute;
  top: 13vh;
  left: 56vw;
}

.blob {
  height: auto;
  width: 30vw;
}

.blob-text-container {
  display: flex;
  position: absolute;
  top: 10vh;
  left: 45vw;
}

.blob-text {
  height: auto;
  width: 20vw;
}

.button {
  width: 15vw;
  height: auto;
  cursor: pointer;
  border: none;
  transition: transform 0.5 ease;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.99);
}